/* Global */

:root {

    /* Colors */

    --clr-c0: #bac6ba;
    --clr-c1: #404A57;
    --clr-c2: #FDFDFD;
    --clr-a1: #2B0195;
    --clr-a2: #050028;
    --clr-highlight: #f00d0d;

    /* Fonts */

    --heading: 'Special Elite', cursive;
    --font-1: 'Raleway', sans-serif;
    --font-2: 'Dosis', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-2);
}

/* General Selectors */

h1 {
    text-align: center;
    font-family: var(--heading);
    font-size: 3.5rem;
    letter-spacing: .75em;  
}

p{
    text-align: center;
}


/* Named Containers  */

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-a2);
    
}

.landscape {
    background-color: var(--clr-c2);
    width: 100%;
    height: 100vh;
    border-bottom-right-radius: 1.75em;
    border-top-left-radius: 1.75em;
    
}

.intro {
    font-size: 1.5em;
    font-weight: 700;
}

/* IDs */


